@model IEnumerable<StudentModel>
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CumulativeGPA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Surname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Rank)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CumulativeGPA)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GradeId)
					</td>
					<td>
						<a asp-action="Details" asp-route-id="@item.StudentId">Details</a>&nbsp;|&nbsp;
						<a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a>&nbsp;|&nbsp;
						<a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
					</td>
				</tr>
		}
    </tbody>
</table>



